<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.aktor.sample.store.neo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>


    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="me.aktor.sample.store.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="me.aktor.sample.store.permission.C2D_MESSAGE"/>
        

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:name=".NotesApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.google.android.gms.version"
            android:value= "@integer/google_play_services_version"/>

        <activity android:name=".app.home.NotesListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.details.NotesDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <action android:name="android.intent.action.INSERT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.store.provider.notes"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".data.NotesContentProvider"
            android:authorities="@string/authority"
            android:enabled="true"
            android:syncable="true"
            android:exported="true" >
        </provider>

        <service android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>

        <service android:name=".sync.StubAuthService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/stub_authenticator"/>
        </service>

        <receiver android:name=".sync.push.PushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="me.aktor.sample.store"/>
            </intent-filter>
        </receiver>


        <service android:name=".sync.push.PushService"/>

        <service android:name=".sync.push.PushRegistrationService"
            android:exported="false"/>

    </application>

</manifest>
